/ME/ME
/StartME/StartME
/Cli/Cli
/bin/ME
/bin/ME-cli
/bin/StartME
/bin/Tcli
/ThriftClient/ThriftClient
/release
/ThriftClient/ThriftClient.exe
/ThriftClient/MEconfig.json
/ME/ME.exe
.vscode/

*.debug
.idea
debug.log
debug.log.old
startME.log

